<h2>Update</h2>

<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :username, required: true %>
      <% if @current_user_role == AppConstants::ADMIN %>
          <% if @user != current_user %>
            <%= f.input :roles_name, priority: [ User.find(params[:id]).roles.last.name ], include_blank: false, collection: [AppConstants::TEAM_LEADER, AppConstants::SPECIALIST, AppConstants::USER ], input_html: {multiple: false} %>
          <% end %>
          <%#= f.association :roles, include_blank: false, input_html: {multiple: false} %>
      <% end %>
      <%= f.input :phone, required: true %>
      <%= f.input :email, required: true, autofocus: true %>
      <% if @current_user_role != AppConstants::ADMIN  %>
        <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
<% end %>

