<div class="x_panel">
  <div class="x_title">
    <h2>Dashboard</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <!--<div id="container">-->
          <!--<div class="row 2col">-->
            <!--<%#= render 'forms_block', block_color: 'blue', title: 'Forms', title_1: 'Tot. forms', count_1: @forms_count %>-->
            <!--<%#= render 'users_block', block_color: 'red', title: 'Users', title_1: 'Tot. users', count_1: @users_count %>-->
          <!--</div>-->
    <!--</div>-->
    <div class="page-title">
      <h3>Category</h3>
    </div>
    <div id="container">
      <div class="row 2col">
        <%= render 'critical_forms_block', block_color: 'blue', title: 'Critical Forms', title_1: 'Tot. forms', count_1: @critical_forms_count %>
        <%= render 'high_forms_block', block_color: 'red', title: 'High Forms', title_1: 'Tot. forms', count_1: @high_forms_count %>
        <%= render 'medium_forms_block', block_color: 'green', title: 'Medium Forms', title_1: 'Tot. forms', count_1: @medium_forms_count %>
        <%= render 'low_forms_block', block_color: 'purple', title: 'Low Forms', title_1: 'Tot. forms', count_1: @low_forms_count %>
      </div>
    </div>

    <div class="page-title">
      <h3>Department</h3>
    </div>
    <% if @current_user_role == AppConstants::ADMIN %>
      <div id="container">
        <div class="row 2col">
          <%= render 'department_a_block', block_color: 'blue', title: 'Department A', title_1: 'Tot. department forms', count_1: @department_a_count %>
          <%= render 'department_b_block', block_color: 'red', title: 'Department B', title_1: 'Tot. department forms', count_1: @department_b_count %>
          <%= render 'department_c_block', block_color: 'green', title: 'Department C', title_1: 'Tot. department forms', count_1: @department_c_count %>
        </div>
      </div>
    <% end %>
    <% if @current_user_role == AppConstants::TEAM_LEADER %>
      <div id="container">
        <div class="row 2col">
          <%= render 'department_a_block', block_color: 'blue', title: 'Department A', title_1: 'Tot. department forms', count_1: @department_a_count %>
          <%= render 'department_b_block', block_color: 'red', title: 'Department B', title_1: 'Tot. department forms', count_1: @department_b_count %>
        </div>
      </div>
    <% end %>
    <% if @current_user_role == AppConstants::USER || @current_user_role == AppConstants::SPECIALIST %>
      <div id="container">
        <div class="row 2col">
          <%= render 'department_a_block', block_color: 'blue', title: 'Department A', title_1: 'Tot. department forms', count_1: @department_a_count %>
        </div>
      </div>
    <% end %>
  </div>
</div>
