<div class="x_panel">
  <div class="x_title">
    <h2>Froms</h2>
    <% if @current_user_role == AppConstants::ADMIN || @current_user_role == AppConstants::TEAM_LEADER %>
        <%= link_to 'New Form', new_form_path , class: 'btn btn-primary pull-right' %>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-striped table-responsive" id="example">
      <thead>
      <tr>
        <th>Department</th>
        <th>Category</th>
        <th>Date started</th>
        <th>Date completed</th>
        <th>Summary of Problem</th>
        <th>Impact</th>
        <th>Applicable to Other Areas</th>
        <th>Solution Applied</th>
        <th>Level</th>
        <th>Created By</th>
        <th>Updated By</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @forms.each do |form| %>
          <tr>
            <td><%= form.department %></td>
            <td><%= form.category %></td>
            <td><%= form.date_started %></td>
            <td><%= form.date_completed %></td>
            <td><%= form.summary_of_problem %></td>
            <td><%= form.impact %></td>
            <td><%= form.applicable_to_other_areas %></td>
            <td><%= form.solution_applied %></td>
            <td><%= form.category_level %></td>
            <td><% id =form.user_id %><%=  User.find_by_id( id ).first_name %></td>
            <td><% id =form.updated_by %><%=  User.find_by_id( id ).first_name || 0 %></td>
            <td>
              <%= link_to 'Edit', edit_form_path(form), class: 'btn btn-info btn-xs' %>
              <% if @current_user_role == AppConstants::ADMIN || @current_user_role == AppConstants::TEAM_LEADER%>
                  <%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>





