<div class="x_panel">
  <div class="x_content">

    <p>
      <strong>Posted By:</strong>
      <%= @form.user.first_name %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @form.department %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @form.category %>
    </p>

    <p>
      <strong>Date started:</strong>
      <%= @form.date_started %>
    </p>

    <p>
      <strong>Date completed:</strong>
      <%= @form.date_completed %>
    </p>

    <p>
      <strong>Summary:</strong>
      <%= @form.summary %>
    </p>


  </div>
</div>

