<div class="x_panel">
  <div class="x_content">

    <p>
      <strong>Posted By:</strong>
      <%= @form.user.first_name %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @form.department %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @form.category %>
    </p>

    <p>
      <strong>Date started:</strong>
      <%= @form.date_started %>
    </p>

    <p>
      <strong>Date completed:</strong>
      <%= @form.date_completed %>
    </p>

    <p>
      <strong>Summary of Problem:</strong>
      <%= @form.summary_of_problem %>
    </p>

    <p>
      <strong>Impact:</strong>
      <%= @form.impact %>
    </p>

    <p>
      <strong>Applicable to Other Areas:</strong>
      <%= @form.applicable_to_other_areas %>
    </p>

    <p>
      <strong>Solution Applied:</strong>
      <%= @form.solution_applied %>
    </p>

    <p>
      <strong>Level:</strong>
      <%= @form.category_level %>
    </p>


  </div>
</div>

